<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalles</title>
</head>
<body>
    <center>
        <h1> Nombre de la receta </h1>
    </center>

    <div>
        <a href="formulario1.html">
            <button style="margin-top: 20px"> Editar receta </button>
        </a>
    </div>

    <div>
        <a href="formulario2.html">
            <button style="margin-top: 20px"> Añadir ingredientes </button>
        </a>
    </div>

    <div>
        <a href="formulario3.html">
            <button style="margin-top: 20px"> Editar datos de nutrición </button>
        </a>
    </div>

    <div>
        <ol>
            <li>Ingrediente 1</li>
            <li>Ingrediente 2</li>
            <li>Ingrediente 3</li>
        </ol>
    </div>

    <div>
        <p> Aca van las instrucciones de preparación</p>
    </div>
</body>
</html>