<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear recetas</title>
</head>
<body>
<center>
    <h1> Crea tu receta </h1>
</center>
<form>
    <label>1. Categoría:</label>
    <input type="text" name="categoria">
    <br>
    <label>2. Nombre: </label>
    <input type="text" name="nombre">
    <br>
    <label>3. Instrucciones:</label>
    <input type="text" name="instrucciones">
    <br>
    <label>4. Ingrese la dificultad: </label>
    <form>
        <select name="dificultad" id="lang">
            <option value="0"></option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </form>
    <br>
    <label>5. Tiempo de preparación (hh:mm) : </label>
    <input type="text" name="tiempo">
    <br>
</form>
<button>Guardar</button>
</body>
</html>