<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de recetas</title>
</head>
<body>
<center>
    <h1> Lista de recetas </h1>
</center>

<center>

    <div>
        <a href="formulario1.html">
            <button> Crear recetas </button>
        </a>
    </div>

    <div>
        <table border="2", style="border-color: darkslateblue; margin-top: 20px">
            <tr>
                <td style= "background-color: pink"> Nombre</td>
                <td style= "background-color: pink"> Tiempo de preparación </td>
                <td style= "background-color: pink"> Ver detalles </td>
                <td style= "background-color: pink"> Editar </td>
                <td style= "background-color: pink"> Eliminar </td>
            </tr>
            <tr>
                <td> Nombre </td>
                <td> Tiempo de preparación </td>
                <td> <a href="detalles_receta.html">
                    <button> VER </button>
                    </a>
                </td>
                <td> <a href="formulario1.html">
                    <button> EDITAR </button>
                    </a>
                </td>
                <td>
                    <button> ❌ </button>
                </td>
            </tr>
        </table>
    </div>

</center>
</body>
</html>